<nav>
    <div class="nav-bar">
        <div class="nav-left">
            <a href="{{site.BaseURL}}">{{site.Title}}</a>
        </div>

        <div class="nav-right">
            <div id="hamburger">
                &#9776;
            </div>
        </div>
    </div>

    <div id="nav-menu" class="hidden">
        <ul>
            {% for item in site.NavLinks %}
            <li>
                <a href="{{item.URL}}">
                        {{item.Name}}
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>
</nav>